h1 {color: white;}

body {background: blue;
      color: white;}

.resultTable {
            background: white;
            color: black;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        .resultTable td{
            border: 1px solid black;
        }
.buttons {align-content: center;}

.leftDiv {
	width: 25%;
	text-align: left;
	margin-left: 20px;
	margin-right: auto;
	}